.single-slider:before {
    content: "";
    position: absolute;
    background: #1b264885;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

ul.past-years li:hover {
    background: aliceblue;
    background-image: linear-gradient(45deg, #e65100, #f57c00);
}

section.list-pastevents h2 {
    margin-bottom: 20px;
}

ul.past-years li {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 1%;
    margin-bottom: 25px;
    border-radius: 6px;
    background-image: linear-gradient(45deg, #0d5498, #1281ed);
}

ul.past-years li a {
    padding: 10px;
    color: #fff;
}

section.list-pastevents {
    padding: 4% 20px;
}

.tesimonial-content {
    min-height: 212px;
}

button.btn.bg-clfbb545 {
    background: #eee;
}

.services-text1.left-vala img:hover {
    transform: scale(1.1);
}

.services-text1.left-vala img {
    margin-bottom: 13px;
    border: 1px solid #e1e1e1;
    padding: 12px;
    transition: 0.5s ease-in-out;
}

.services-text1.left-vala {
    text-align: left;
}

.services-text1.left-vala h5.col-change {
    text-align: left;
    color: #3177b9;
}

.services-text1 tr:nth-child(even) {
    background: #eee;
}

.services-text1 td {
    border: 1px solid #dbd9d9;
    padding: 8px 8px;
    text-align: left;
}

body,
html {
    font-family: 'Jost', sans-serif;
}

.single-slider .row {
    display: flex;
    justify-content: space-around;
}

.hero-info {
    margin-top: 120px;
    text-align: center;
}

.about-us-area p {
    margin-top: 20px;
}

.about-button {
    justify-content: flex-end;
}

.board-area {
    background: linear-gradient(356deg, #0d5aa6 -355%, #ffffff00) !important;
}

.service-box1 {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.about-button1 {
    justify-content: center;
}

.c-btn1 {
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    padding: 15px 20px 15px 20px;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
    background-image: -moz-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
    background-image: -webkit-linear-gradient( 0deg, #428cd4 0%, #004e9a 100%);
    background-image: -ms-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

ul.align-left li b {
    color: transparent;
}

ul.align-left li {
    text-align: left;
    line-height: 34px;
    padding-left: 3%;
}

.topics-image img {
    border-radius: 10px;
    box-shadow: 11px 17px 11px #979797;
}

/* Remove overlay from about section image */
.about-us-img:before {
    display: none;
    color: transparent;
}
.about-us-img::after {
    color: transparent;
    display: none;
}